
body
{
	position: absolute;
	top: 0px;
	left: 0px;	
	width: 100%; height: 100%;
}

.uno
{
	position: absolute; left: 550px; top: 100px; background-color:  #1ABC9C; border: black ridge 2px; width: 200px; height: 200px;
}
.si
{
background-color: red;
position: absolute; left: 550px; top: 100px;  border: black ridge 2px; width: 200px; height: 200px; font-size: 50px;
background:url(morr.jpg);
background-size: cover;
color: white;

}

.si1
{
background-color: blue;
position: absolute; left: 550px; top: 100px;  border: black ridge 2px; width: 200px; height: 200px; font-size: 50px;
background:url(mor.jpg);
background-size: cover;
}